#hero {
    background-image: url('../images/20blur.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

#hero * {
    position: relative;
    z-index: 2;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
}

#hero .cta-button {
    padding: 0.8rem 1.5rem;
    background-color: #f4a261;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-right: 50px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#header-logo {
    margin-left: 50px;
    width: 200px;
    margin-top: 10px;
}

.gallery-grid {
    display: flex;
    flex-direction: row;
}

.gallery-photos {
    width: 50%;
}